#### 데이터베이스에서 0 ~ 9 까지의 손글씨 데이터(col_0 ~ col_63로 디지털화, col_64는 손글씨의 정답)
#### 필요 없는 1, 7을 제외한 데이터를 가져와서 ndarray로 만들기

In [1]:
# 필요 모듈 import

import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import text, create_engine

In [3]:
# 데이터베이스 접속
protocol = 'mysql+pymysql'
user = 'bigdata'
passwd = 'bigdata1234'
host = 'localhost'
port = '3306'
db = 'bigdata'
conn = create_engine(f'{protocol}://{user}:{passwd}@{host}:{port}/{db}')

In [8]:
sql = '''
SELECT *
FROM tb_digit
WHERE col_target NOT IN (1, 7)
'''
df = pd.read_sql(sql, conn)
df

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2.0
2,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3.0
3,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4.0
4,0.0,0.0,12.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,16.0,16.0,10.0,0.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0,9.0
1432,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0,0.0
1433,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0,8.0
1434,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0,9.0
1435,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0,8.0

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [28]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1].values.reshape(-1, 1)
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

In [30]:
rf_model = RandomForestClassifier()
rf_model.fit(X_train, Y_train)
accuracy_score(rf_model.predict(X_test), Y_test)

<ipython-input-30-8060f15e051c>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_model.fit(X_train, Y_train)

0.9791666666666666